# Python cache
__pycache__/
*.py[cod]

# Test and lint cache
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Environment secrets
.env

# Logs
logs/*.log

# Jupyter
.ipynb_checkpoints/

# DVC local cache
.dvc/cache/

# Operating system files
.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
